body {
    font-size: larger;
    color: #000;
}

.center {
    text-align: center;
}

.label {
    float: left;
    clear: left;
    display: block;
    width: 200px;
    text-align: left;
    /*margin-bottom: 10%;*/
}

.label-text {
    margin-left: 10%;
    
#datepicker {
    
}